.education {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  scroll-margin-top: 150px;
}
.education__heading {
  padding: 0px 24px;
}

.education-card {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
