.hireme__card {
  display: flex;
  padding: 24px;
  background-color: var(--background-soft);
  border-radius: 24px;
  column-gap: 32px;
  scroll-margin-top: 150px;
}

.hireme__card-left {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex-shrink: 100;
}

.hireme__input-container {
  height: 50px;
  display: flex;
  column-gap: 8px;
}

.hireme__input {
  height: 100%;
  border-radius: 8px;
  flex-grow: 1;
  background-color: var(--input);
  border: none;
  outline: none;

  color: var(--input-text);
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 13px 16px;
}

.hireme__input::placeholder {
  color: var(--input-text);
}

.hireme__submit {
  border-radius: 12px;
  padding: 0px 24px;
  color: var(--heading);
  background-color: var(--input);
  border: none;
}

.hireme__card-right {
  width: 144px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  background-color: var(--card-background);
}

.hireme__img {
  width: 80px;
  height: 80px;
}
