.page {
  padding: 64px 80px 112px 80px;
  max-width: 1440px;
  margin: auto;
}

@media screen and (width <= 768px) {
  .page {
    padding: 60px;
  }
}

@media screen and (width <= 576px) {
  .page {
    padding: 36px 16px;
  }
}
@media screen and (width <= 480px) {
  .page {
    padding: 36px 12px;
  }
}
