.skillset {
  padding: 0px 24px;
  scroll-margin-top: 150px;
  transition: padding 0.25s ease-out;
}

.skillset__heading {
  margin-bottom: 32px;
}

.skillset__list {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.skillset__icon {
  width: 40px;
  height: 40px;
  transition: all 0.25s ease-out;
}

.skillset__icon:hover {
  transform: scale(1.1);
}

@media screen and (width <= 768px) {
  .skillset__list {
    gap: 8px;
  }
}
