:root {
  --heading: #fff;
  --subheading: rgba(255, 255, 255, 0.5);
  --paragraph: rgba(255, 255, 255, 0.7);

  --section-link: #fff;
  --link-active: #fff;
  --link-inactive: rgba(255, 255, 255, 0.5);

  --background-dark: #2a2a2a;
  --background-soft: #2e2e2e;

  --card-background: #323232;

  --input: #4f4f4f;
  --input-text: rgba(255, 255, 255, 0.5);

  --box-shadow-light: #0000001f 0px 0px 10px;
}

.h1 {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: var(--heading);
}

.h2 {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--heading);
}

.p {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  opacity: 0.7;
  color: var(--paragraph);
}

.subheading {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  opacity: 0.5;
  color: var(--subheading);
}

.nav-link {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.link-s {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: var(--section-link);
}

.link {
  font-family: "Inter", Verdana, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: var(--section-link);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
}

.body {
  background-color: var(--background-dark);
}
